body{
    margin: 0;
    padding: 0;

}

.lightblue{
    background-color: lightseagreen ;

}
.social-bar{
    text-align: right;
    
}
.container-fluid .row .col-3 h1,p
{
    font-family: 'Patua One',cursive;
}